
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#nav-bar {
    background-color: black;
}

.menu {
    float: right;
    float: center;
    font-size: 18px;
    font-style: italic;
    justify-content: center;
    font-family: 'Bangers';
}

#BudgetBallers {
    float: left;
    float: center;
    font-size: 18px;
    content: center;
    margin-top: 5px;
    font-style: italic;
    font-family: 'Bangers';
}

.first-card {
    text-align: center;
    background-color: transparent;
    position: relative;
    color: white;
    margin: 0%;
    padding-left: 0%;
    padding-right:0%
}

.first-card h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.first-card p {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: (-25%, -50%);
}

.first-card button {
    position: absolute;
    top: 65%;
    left: 47%;
}
#background {
    justify-content: center;
    position: relative;
    top: 10px;
    padding-left: 12%;
    padding-right: 12%;
}

#Balance-Container {
    justify-content: center;
    text-align: center;
    background: transparent;
}

#Incomes-Container {
    justify-content: center;
    text-align: center;
    background: transparent;
}

#Outcomes-Container {
    justify-content: center;
    text-align: center;
    background: transparent;
}

.card {
    color: teal;
}

.Main-Container{
    text-align: center;
}

img {
    margin-bottom: 10px;
}

p {
    font-size: 40px;
}

#Bank-Container {
    background-color: #CCCCFF;
    opacity: 75%;
    
}

#Bank-Container p {
    font-size: 40px;
}


#Cards-Container {
    background-color: silver;
    opacity: 75%;
}

#Cards-Container p {
    font-size: 40px;
}

#Cash-Container {
    background-color:lightgreen;
    opacity: 75%;
}

#Cash-Container p {
    font-size: 40px;
}

#Balance-Container {
    color: green;
    font-size: 58px;
}

#Incomes-card {
    background-color: green;
    opacity: 75%;
    font-size: 20px;
    border-radius: 15px;
}

#Payments-Container{
    background-color:red;
    opacity: 60%;
    border-radius: 15px
}

#Outcomes-Container {
    justify-content: center;
    font-size: 20px;
    margin-right: 20px
}
/*added container with background image*/
.container-full {
    background-image: url("Assets/cashbanner.jpg");
}


/*added month-name styling w/google fonts*/
#month-name {
    color:blue;
    font-family: 'Bangers', cursive;


}

