
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#nav-bar {
    background-color: black;
}

.menu {
    float: right;
    float: center;
    font-size: 24px;
    font-style: italic;
    justify-content: center;
    font-family: 'Bangers';
}

#BudgetBallers {
    float: left;
    float: center;
    font-size: 24px;
    content: center;
    margin-top: 5px;
    font-style: italic;

    font-family: 'Bangers';
}

.first-card {
    text-align: center;
    background-color: transparent;
    position: relative;
    color: white;
    margin: 0%;
    padding-left: 0%;
    padding-right:0%
}

.first-card h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.first-card p {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: (-25%, -50%);
}

.first-card button {
    position: absolute;
    top: 65%;
    left: 47%;
}
#background {
    justify-content: center;
    position: relative;
    top: 10px;
    padding-left: 12%;
    padding-right: 12%;
}

#Balance-Container {
    justify-content: center;
    text-align: center;
    background: transparent;
}

#Incomes-Container {
    justify-content: center;
    text-align: center;
    background: transparent;
    font-size: 24px;
}

#Outcomes-Container {
    justify-content: center;
    text-align: center;
    background: transparent;
    margin-right: 20px;
    font-size: 24px;
}

#Incomes-Container table {
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    width: 1150px;
    font-size: 24px;
}

.Main-Container{
    text-align: center;
}

img {
    margin-bottom: 4px;
}

p {
    font-size: 40px;
}

#Bank-Container {
    background-color: #CCCCFF;
    opacity: 75%;
    
}

#Bank-Container p {
    font-size: 40px;
}


#Cards-Container {
    background-color: silver;
    opacity: 75%;
}

#Cards-Container p {
    font-size: 40px;
}

#Cash-Container {
    background-color:lightgreen;
    opacity: 75%;
}

#Cash-Container p {
    font-size: 40px;
}

#Balance-Container {
    color: green;
    font-size: 58px;
}

#Incomes-card {
    background-color: green;
    opacity: 75%;
    font-size: 20px;
    border-radius: 15px;
    height: 200px;
}

#Payments-Container{
    background-color:red;
    opacity: 60%;
    border-radius: 15px
}


/*added container with background image*/
.grid-container-full {
    background-image: url("Assets/cashbanner.jpg");
    
}


/*added month-name styling w/google fonts*/
#month-name {
    color:blue;
    font-family: 'Bangers', cursive;
}

.button {
    font-family: 'Bangers';
}
/*added background color to html*/
.background,
.columns,
.row,
.card {
    background-color: cadetblue;
}

#modal-button-submit {
    background-color: limegreen;
    margin-left: 20px;
    margin-bottom: auto;
    color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

#modal-button-cancel {
    background-color: red;
    margin-right: 20px;
    margin-bottom: 5px;
    float: right;
    color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

progress[value] {
    height: 50px;
    width: 1000px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    float: center;
}



.modal-display {
    display: none; /* Hidden by default */
}

#modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal-content {
    font-family: 'Bangers';
    text-shadow: white .5px .5px .5px;
    margin: auto;
    width: 50%;
    background-color:cadetblue;
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px;
    z-index: -1;
    width: 600px;
    height: 420px;
}
#month-generate {
    border-color: black;
    border-width: thick;
    }
    
#table-body {
    background-color: lightcyan;
}

td {
    border: 1px solid black;
}